{% extends 'base.html' %} {% block container %}
<h2>Edit Data</h2>
<p>Edit a record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Vehicle Id:
    <input type="text" id="fid" name="fid" value="{{doc.id}}" /><br />
  </p>
  <p>
    Vehicle Model:
    <input type="text" id="fmodel" name="fmodel" value="{{doc.model}}" /><br />
  </p>
  <p>
    Owner Name:
    <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
  </p>
  
  <p>
    Owner Address:
    <input type="text" id="faddress" name="faddress" value="{{doc.address}}" /><br />
  </p>
  <!-- <p>
    Message:
    <textarea id="fmessage" name="fmessage">{{doc.message}}</textarea>
  </p> -->
  <p>
    <input type="submit" name="post-btn" value="Save" />
    <a href="{{ url_for('read')}}">Cancel</a>
  </p>
</form>
{% endblock %}
